.button:hover{
    background-color: #292b2c;
}

.active{
  color:red;
}

.button{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 14px;
  border-radius: 6px;
  border:none;
}



  